<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway" rel="stylesheet">
</head>
<body>
<span class="branding">FINTECH prototype</span><span class="menu"> 0 | 0 | 0 </span>
<hr>
<% include ../views/quandl %>

</body>
